#--- General ---
.DS_Store
.vscode/
.idea
*.log

#--- Environment ---
.env
.env.*.local

#--- Python / Django ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
poetry.lock
*sqlite3

#--- Node / React ---
node_modules/
dist/
build/
.output/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#--- Docker ---
.docker/
postgres_data/
redis_data/
